{{ if eq .chezmoi.os "darwin" -}}

#!/usr/bin/env bash

echo "Symlinking karabiner..."
mkdir -p ~/.config/karabiner
ln -fs $(chezmoi source-path)/dot_config/private_karabiner/private_karabiner.json /Users/michael/.config/karabiner/karabiner.json

{{ else -}}

#!/usr/bin/env bash
echo NOT symlinking karabiner

{{ end -}}
