configuration{
    font: "FiraCode Nerd Font Mono 10";
    modi: "run,drun,filebrowser,window,ssh";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " 󰀻  Apps ";
    display-run: "   Run ";
    display-window: "   Win";
    display-ssh: " 󰛳  SSH";
    display-filebrowser: "   Files";
    sidebar-mode: true;
}
@theme "~/.config/rofi/themes/catppuccin-macchiato"
