-- https://github.com/Allaman/nvim/
return {
{{- if eq .chezmoi.os "linux" }}
  lsp_servers = {
    "bashls",
    "dockerls",
    "jsonls",
    "gopls",
    "htmx",
    "ltex",
    "marksman",
    "nil_ls",
    "pyright",
    "lua_ls",
    "tailwindcss",
    "terraformls",
    "texlab",
    "tsserver",
    "typst_lsp",
    "yamlls",
  },
{{- else }}
  lsp_servers = {
    "bashls",
    "dockerls",
    "jsonls",
    "gopls",
    "htmx",
    "ltex",
    "marksman",
    "pyright",
    "lua_ls",
    "tailwindcss",
    "terraformls",
    "texlab",
    "tsserver",
    "typst_lsp",
    "yamlls",
  },
{{- end }}
  plugins = {
    copilot = {
{{- if eq .chezmoi.os "darwin" }}
      enable = true,
      disable_autostart = true,
{{- else }}
      enable = false,
{{- end }}
    },
    gopher = {
      enable = true,
    },
    harpoon = {
      enable = true,
    },
    indent_blankline = {
      enable_scope = false,
    },
    kustomize = {
      dev = true,
      opts = {
        kinds = {
          show_filepath = false,
          show_line = false,
        },
      },
    },
    lazy = {
      dev = {
        path = "$HOME/workspace/github.com/allaman/",
      },
      disabled_neovim_plugins = {
        "gzip",
        "matchit",
        "matchparen",
        "netrwPlugin",
        "tarPlugin",
        "tohtml",
        "tutor",
        "zipPlugin",
      }
    },
    ltex = {
      additional_lang = "de-DE",
    },
    lualine = {
      extensions = { "fugitive", "lazy", "neo-tree", "nvim-dap-ui", "quickfix", "symbols-outline", "toggleterm" },
    },
    oil = {
      enable = true,
    },
    overseer = {
      enable = true,
    },
    telescope = {
      show_untracked_files = true,
      fzf_native = {
        enable = true,
      },
    },
    trouble = {
      enable = true,
      opts = {
        auto_preview = false,
      },
    },
  },
}
