{{- if eq .chezmoi.os "darwin" -}}
cask "alacritty"
cask "alt-tab"
cask "bartender", args: { appdir: "/Applications" }
cask "calibre"
cask "docker", args: { appdir: "/Applications" }
cask "firefox", args: { appdir: "/Applications" }
cask "font-hack-nerd-font"
cask "google-cloud-sdk"
cask "karabiner-elements", args: { appdir: "/Applications" }
cask "keepassxc", args: { appdir: "/Applications" }
cask "keycastr"
cask "kitty"
cask "libreoffice"
cask "linearmouse"
cask "macfuse"
cask "middle", args: { appdir: "/Applications" }
cask "numi"
cask "postman", args: { appdir: "/Applications" }
cask "stats"
cask "syncthing", args: { appdir: "/Applications" }
cask "zerotier-one"

brew "coreutils"
brew "felixkratz/formulae/sketchybar"
brew "koekeishiya/formulae/skhd"
brew "koekeishiya/formulae/yabai"
brew "mas"
brew "shared-mime-info"
brew "tree"

mas "AdBlock Pro", id: 1018301773
mas "Alfred", id: 405843582
mas "GarageBand", id: 682658836
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "Magnet", id: 441258766
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Strongbox", id: 1270075435
mas "Xnip", id: 1221250572

tap "homebrew/cask"
tap "homebrew/cask-fonts"

{{ end -}}

brew "act"
brew "argo"
brew "argocd"
brew "awscli"
brew "bat"
brew "glib"
brew "python@3.10"
brew "p11-kit"
brew "gnutls"
brew "cask"
brew "cmake"
brew "codespell"
brew "direnv"
brew "dog"
brew "dos2unix"
brew "dua-cli"
brew "duf"
brew "entr"
brew "exa"
brew "fd"
brew "harfbuzz"
brew "gobject-introspection"
brew "ffmpeg"
brew "figlet"
brew "fluxctl"
brew "gh"
brew "git"
brew "git-delta"
brew "git-filter-repo"
brew "gitui"
brew "glow"
brew "gpgme"
brew "gnu-tar"
brew "go"
brew "goreleaser"
brew "grip"
brew "gron"
brew "hadolint"
brew "helm"
brew "hledger"
brew "htop"
brew "httpie"
brew "hugo"
brew "imagemagick"
brew "ipython"
brew "isync"
brew "jenv"
brew "jq"
brew "node"
brew "pandoc"
brew "jupyterlab"
brew "k6"
brew "k9s"
brew "khal"
brew "khard"
brew "kind"
brew "kube-linter"
brew "kubeconform"
brew "kubectx"
brew "kubeseal"
brew "kubeval"
brew "kustomize"
brew "kyverno"
brew "latexindent"
brew "lazydocker"
brew "lazygit"
brew "lf"
brew "luarocks"
brew "markdownlint-cli"
brew "openjdk"
brew "maven"
brew "mdbook"
brew "moreutils"
brew "msmtp"
brew "mtr"
brew "mysql-client"
brew "neofetch"
brew "xapian"
brew "notmuch"
brew "neomutt"
brew "neovim"
brew "neovim-remote"
brew "newsboat"
brew "nmap"
brew "nnn"
brew "notmuch-mutt"
brew "poppler"
brew "qt"
brew "pdfgrep"
brew "pdftk-java"
brew "pulumi"
brew "pwgen"
brew "ranger"
brew "rcm"
brew "restic"
brew "ripgrep"
brew "s4cmd"
brew "showkey"
brew "slides"
brew "stern"
brew "tectonic"
brew "thefuck"
brew "tig"
brew "tmux"
brew "tokei"
brew "trash-cli"
brew "urlview"
brew "vdirsyncer"
brew "viddy"
brew "vifm"
brew "w3m"
brew "watch"
brew "wget"
brew "xclip"
brew "youtube-dl"
brew "yq"
brew "zoxide"
brew "datawire/blackbird/telepresence-legacy"
brew "fluxcd/tap/flux"

tap "datawire/blackbird"
tap "felixkratz/formulae"
tap "fluxcd/tap"
tap "gromgit/fuse"
tap "hashicorp/tap"
tap "homebrew/bundle"
tap "homebrew/core"
tap "homebrew/services"
tap "koekeishiya/formulae"
