-- https://github.com/Allaman/nvim/
return {
  options = {
    list = true,
  },
{{- if eq .chezmoi.os "linux" }}
  lsp_servers = {
    "bashls",
    "dockerls",
    "jsonls",
    "gopls",
    "htmx",
    "ltex",
    "marksman",
    "nil_ls",
    "pyright",
    "lua_ls",
    "terraformls",
    "texlab",
    "tsserver",
    "typst_lsp",
    "yamlls",
  },
{{- else }}
  lsp_servers = {
    "bashls",
    "dockerls",
    "jsonls",
    "gopls",
    "htmx",
    "ltex",
    "marksman",
    "pyright",
    "lua_ls",
    "terraformls",
    "texlab",
    "tsserver",
    "typst_lsp",
    "yamlls",
  },
{{- end }}
  plugins = {
    chatgpt = {
      enable = true,
      opts = {
        api_key_cmd = "gopass show --password openai/api-token",
      },
    },
    copilot = {
{{- if eq .chezmoi.os "darwin" }}
      enable = true,
      disable_autostart = true,
{{- else }}
      enable = false,
{{- end }}
    },
    emoji = {
      enable = true,
      enable_cmp_integration = true,
      plugin_path = vim.fn.expand("$HOME/workspace/github.com/allaman/"),
    },
    lf = {
      enable = true,
    },
    git = {
      merge_conflict_tool = "",
    },
    gopher = {
      enable = true,
    },
    harpoon = {
      enable = true,
    },
    indent_blankline = {
      enable = true,
      enable_scope = false,
    },
    kustomize = {
      dev = true,
      opts = {
        enable_lua_snip = true,
        kinds = {
          show_filepath = true,
          show_line = true,
        },
      },
    },
    lazy = {
      dev = {
        path = "~/workspace/github.com/allaman/",
      },
      disabled_neovim_plugins = {
        "gzip",
        "netrwPlugin",
        "tarPlugin",
        "tohtml",
        "tutor",
        "zipPlugin",
      }
    },
    ltex = {
      additional_lang = "de-DE",
    },
    lualine = {
      opts = {
        extensions = { "fugitive", "lazy", "neo-tree", "nvim-dap-ui", "quickfix", "symbols-outline", "toggleterm" },
      },
    },
    oil = {
      enable = false,
    },
    overseer = {
      enable = true,
    },
    symbol_usage = {
      opts = {
        vt_position = "end_of_line"
      },
    },
    telescope = {
      show_untracked_files = true,
      fzf_native = {
        enable = true,
      },
    },
    trouble = {
      enable = true,
      opts = {
        auto_preview = false,
      },
    },
    zenmode = {
      enable = true,
    },
  },
}
