-- https://github.com/Allaman/nvim/
return {
  plugins = {
    copilot = {
{{- if eq .chezmoi.os "darwin" }}
      enable = true,
      disable_autostart = true,
{{- else }}
      enable = false,
{{- end }}
    },
    ltex = {
      additional_lang = "de-DE",
    },
    lualine = {
      extensions = { "fugitive", "lazy", "neo-tree", "nvim-dap-ui", "quickfix", "symbols-outline", "toggleterm" },
    },
    kustomize = {
      dev = true,
    },
    lazy = {
      dev = {
        path = "$HOME/workspace/github.com/allaman/",
      },
      disabled_neovim_plugins = {
        "gzip",
        "matchit",
        "matchparen",
        "netrwPlugin",
        "tarPlugin",
        "tohtml",
        "tutor",
        "zipPlugin",
      }
    },
    telescope = {
      fzf_native = {
        enable = true,
      },
    },
  },
}
