local wezterm = require("wezterm")
local act = wezterm.action
local config = {}

config.color_scheme = "Dracula"

{{- if eq .chezmoi.os "darwin" -}}
config.font = wezterm.font("Comic Code Ligatures")
config.dpi = 192
config.use_ime = false
{{ else -}}
config.font = wezterm.font("Source Code Pro")
{{ end -}}
config.debug_key_events = true

config.line_height = 1.1

config.window_padding = {
  left = 2,
  -- This will become the scrollbar width if you have enabled the scrollbar!
  right = 2,
  top = 0,
  bottom = 0,
}

config.window_decorations = "NONE"

config.enable_tab_bar = false
config.scrollback_lines = 10000
config.enable_scroll_bar = false
config.disable_default_key_bindings = true
config.disable_default_mouse_bindings = false
config.use_dead_keys = false

config.keys = {
  { key = "c", mods = "ALT", action = act.CopyTo("ClipboardAndPrimarySelection") },
  { key = "v", mods = "ALT", action = act.PasteFrom("Clipboard") },
  { key = "PageUp", mods = "SHIFT", action = act.ScrollByPage(-1) },
  { key = "PageDown", mods = "SHIFT", action = act.ScrollByPage(1) },
  { key = "+", mods = "CTRL", action = act.IncreaseFontSize },
  { key = "-", mods = "CTRL", action = act.DecreaseFontSize },
  { key = "0", mods = "CTRL", action = act.ResetFontSize },
  { key = "/", mods = "SHIFT|CTRL", action = act.Search({ CaseInSensitiveString = "" }) },
}

config.mouse_bindings = {
  -- Change the default click behavior so that it only selects
  -- text and doesn't open hyperlinks, and that it populates
  -- the Clipboard rather the PrimarySelection which is part
  -- of the default assignment for a left mouse click.
  {
    event = { Up = { streak = 1, button = "Left" } },
    mods = "NONE",
    action = wezterm.action.CompleteSelection("Clipboard"),
  },
  -- and make CTRL-Click open hyperlinks
  {
    event = { Up = { streak = 1, button = "Left" } },
    mods = "CTRL",
    action = "OpenLinkAtMouseCursor",
  },
}

return config


-- vim: set ft=lua:
