# Dropping to the shell
[[mgr.prepend_keymap]]
on = ["<C-s>"]
run = 'shell "$SHELL" --block --confirm'
desc = "Open shell here"

# Close input by once Esc press
[[input.prepend_keymap]]
on = ["<Esc>"]
run = "close"
desc = "Cancel input"

# Smart enter: enter for directory, open for file
[[mgr.prepend_keymap]]
on = ["l"]
run = "plugin smart-enter"
desc = "Enter the child directory, or open the file"

# File navigation wraparound
[[mgr.prepend_keymap]]
on = ["k"]
run = "plugin arrow -1"
[[mgr.prepend_keymap]]
on = ["j"]
run = "plugin arrow 1"

# Use trash-cli to trash file
[[mgr.prepend_keymap]]
on = ["d", "d"]
run = ['''
    shell --confirm 'trash-put "$@"'
''']
desc = "Move the files to the trash"

[[mgr.prepend_keymap]]
on = ["<C-f>"]
run = "seek 5"
desc = "Preview scroll forward"

[[mgr.prepend_keymap]]
on = ["<C-b>"]
run = "seek -5"
desc = "Preview scroll backward"

[[mgr.prepend_keymap]]
on = ["g", "r"]
run = "plugin cd-git-root"
desc = "Go to git repo root"
